body {
  font-family: 'Merriweather', serif;
  margin: 0;

}

img { 
	max-width: 100%;
}

input, textarea, select, button{
  width : 15%;
  margin: 0;
  font-family : inherit;
  font-size   : 100%;

  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
}

legend {
  overflow: hidden;
}

input:focus, textarea:focus {
  background   : blue;
  border-radius: 6px;
outline : none;
	
[Type="radio"]{
width: 1%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
	
html {
    scroll-behavior: smooth;
}
main,
form,
footer {
    margin: 0 .5rem;
}
.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
    background-color: #333;
    padding: .5rem;
    color: white;
    font-size: 1.5rem;
}
a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
}
.logo-container {
    display: flex;
}

.page-title {
    color: white;
    font-size: 1.5rem;
}

.navbar {
    background-color: #333;
    padding-bottom: 1rem;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: white;
}

.main-nav li {
    text-align: center;
    margin: 1rem auto;
}

.logo {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: .5rem;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}

.active {
    display: block;
}
@media screen and (min-width: 40rem) {

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 4.5rem;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 2rem;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 0.5rem;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 1rem;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: white;
    }
}
	
.form-container {
    background: #b0ff7f;
}

legend {
    font-size: 1.2em;
}

input,
textarea {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1em;
    min-width: 100%;
    }

button {
    cursor: pointer;
}

button:hover,
button:focus {
    outline: none;
    background: #3b8509;
    color: #ffffff;
}

main {
	display: grid;
}

.content {
	display: grid;
}

.about-content {
	display: grid;
}

.gallery {
	display: grid;
}

article {
	display: grid;
}

.form-container {
	display: grid;
}

footer {
	display: grid;
}

@media screen and (min-width: 48rem) {

.content {
	display: grid;
}

.about-content {
	display: grid;
}

.gallery {
	display: grid;
}

article {
	display: grid;
}

.form-container {
	display: grid;
}

@media screen and (min-width: 64rem) {

.content {
	display: grid;
}

.about-content {
	display: grid;
}

.gallery {
	display: grid;
}

article {
	display: grid;
}

.form-container {
	display: grid;
}
